.tab{
    margin-left: 50px;
}

.itens button{
    font-size: 16px;
    padding-top: 35px;
}

ion-icon{
    padding-top: 35px;
}

.icons{
    padding-right: 20px;
    padding-bottom: 20px;
}

.arrow{
    padding-left: 20px;
    padding-bottom: 5px;
}

.about{
    padding-top: 150px;
}